doctype html
html(lang="en")
  head
    title Vote With Text
    link(rel='stylesheet' href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
    script(src="//code.jquery.com/jquery-1.11.0.min.js")
    link(rel='stylesheet' href='/css/style.css')
    script(src='/js/chart.js')
  body
    div.above_the_footer
      header#main
      div.container
        block body
  footer#main
    div.container
      a(href='/') Vote With Text