doctype html
html(lang="en")
  head
    title Super Awesome
    link(rel='stylesheet' href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
    link(rel='stylesheet' href='/css/style.css')
  body
    div.above_the_footer
      header#main
      div.container
        block body
  footer#main
    div.container
      a(href='/') Super Awesome