extends layout

block body
  p#welcome
    | Welcome to 'Super Awesome' type in a description of your topic below
  form(method="POST" action="/topic")
    textarea(id="description" name="description")
    br
    button(type="submit") Make Topic

