extends ../layout

block body
  p= description
    form(method="POST" action="/polls/"+uuid+"/choice")
      input(type="text" id="choice" name="choice" placeholder="Your say here")
      button(type="submit") Vote
      
